<!DOCTYPE html>
<html lang="en" ng-app="NestedRepeatBinding">
<head>
    <meta charset="UTF-8">
    <title>Nested Repeat Binding Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="scripts/controllers/nestedrepeatbinding.js"></script>
    <style>
        .item{
            width: 350px;
            height: 50px;
            background-color: aqua;
        }
        .subitem{
            margin-left: 30px;
            width: 320px;
            height: 30px;
            background-color: #78FA89;

        }
    </style>

</head>
<body ng-controller="MyController">
<h2>Demo data biding with nasted repeat data</h2>
<br>
<div ng-repeat="order in orders">
    <p class="item">{{order.id}} | {{order.transid}} | {{order.customer}} | {{order.created}}</p>
    <div ng-repeat="item in order.details">
        <p class="subitem">{{item.name}} | {{item.quantity}} | {{item.price}}</p>
    </div>
</div>


</body>
</html>