<!DOCTYPE html>
<html lang="en" ng-app="SimpleFilter">
<head>
    <meta charset="UTF-8">
    <title>Simple Filter Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="scripts/controllers/simplefilter.js"></script>
    <style>
        .item{
            width: 350px;
            height: 50px;
            background-color: aqua;
        }
    </style>
</head>
<body ng-controller="MonController">
<h2>Demo filtering for repeated data</h2>
<br>
<p>
    <label for="filter">Filter: </label>
    <input type="text" id="filter" ng-model="query">
</p>
<div ng-repeat="customer in customers | filter: query">
    <p class="item">{{customer.name}} | {{customer.email}} | {{customer.country}}</p>
</div>

</body>
</html>