<!DOCTYPE html>
<html lang="en" ng-app="SimpleBinding">
<head>
    <meta charset="UTF-8">
    <title>Simple Binding</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script src="scripts/controllers/sinplebinding.js"></script>

</head>
<body ng-controller="MyController">
<form>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="customer.name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" ng-model="customer.email">
    </div>
    <div>
        <label for="selectcountry">Country</label>
        <select name="selectcoutry" id="selectcountry" ng-moel="customer.country">
            <option value="AU">Australia</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
            <option value="NL">Netherlands</option>
            <option value="CH">Switzerland</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
        </select>
    </div>
    <div>
        <label>Preference color :  </label>
        <input type="radio" name="color" id="radio1" value="Red" ng-model="customer.color">
        <label for="radio1">Red</label>
        <input type="radio" name="color" id="radio2" value="Green" ng-model="customer.color">
        <label for="radio2">Green</label>
        <input type="radio" name="color" id="radio3" value="Blue" ng-model="customer.color">
        <label for="radio3">Blue</label>
    </div>
    <div>
        <label for="birthdate">Birthdate:</label>
        <input type="date" name="birthdate" id="birthdate" ng-model="customer.birthdate">
    </div>
    <div>
        <label for="level">Skill level: </label>
        <input type="range" name="level" id="level" min="1" max="100" alt="Level 1-100" ng-model="customer.skilllevel">
    </div>
    <div>
        <label for="agree"><input type="checkbox" id="agree" ng-model="customer.agree"> I agree to terms & condtions</label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <div>
        Value: {{customer}}
    </div>
</form>


</body>
</html>